

body {
    background-image: linear-gradient(to right,rgb(45 97 174), rgb(243, 244, 248));
}

header {
    background: radial-gradient(circle, rgb(41 62 220) 0%, rgb(2 5 91 / 95%) 100%);
    color: whitesmoke;
    height: 320px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100vw;
    height: 100vw; 
    margin-top: -370px;

}

.font {
    font-size: 3.5em;
    text-align: center;
}

.button {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border-radius: 10px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.25px;
    height: 90px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 1.6em;
}



.question {
    width: 55vw;
    height: 20px;
    font-size: 1.5em;
    margin: 0 0 20px 0;
    text-align: center;
}

.container {
    width: 820px;
    height: 125px;
    background-color: rgb(71, 155, 250);
    border: 8px solid;
    border-radius: 5px;
    box-shadow: 0 0 13px 3px #8d00ff;
    padding: 12px;
    background-image: linear-gradient(to left,rgb(10 76 173), rgb(216 233 248));
}

.container2 {
    font-size: 3.5em red;
    text-align:center;    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.hide {
    display: none;
}

.high-score {
    border: 5px solid;
    border-radius: 8px;
    background-image: linear-gradient(to left,rgb(10 76 173), rgb(216 233 248));
    box-shadow: 0 0 13px 3px #8d00ff;
    font-weight: bold;
    margin: auto;
    margin-top: -600px;
    width: 300px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center
    
}  

#high-scores{
    padding: 10px;
}

#log-button{
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border-radius: 5px;
}

#timer {
    width: 820px;
    height: 125px;
    background-color: rgb(71, 155, 250);
    border: 5px solid;
    border-radius: 8px;
    box-shadow: 0 0 13px 3px #8d00ff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 12px;
    margin: 30px;
    text-align: center;
    background-image: linear-gradient(to left,rgb(10 76 173), rgb(216 233 248));
}

.timer-box {
    width: 520px;
    height: 75px;
    background-color: rgb(2, 36, 75);
    border: 5px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px;
    padding: 12px;
    margin: auto;
}

.score{
    margin-top: 20px;
}

.btn-style {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border-radius: 5px;
}

#end-quiz {
    border: 5px solid;
    height: 145px;
    border-radius: 8px;
    box-shadow: 0 0 13px 3px #8d00ff;
    background-image: linear-gradient(to left,rgb(10 76 173), rgb(216 233 248));
    padding: 0 10px 0 10px;
}

#ul {
   align-items: center;
}

#h2 {
    font-weight: bold;
    font-style: sans-serif;
}

#p {
    font-weight: bold;
    font-style: sans-serif;
}

@media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
}

@media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
}